---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Kontakt z nami</Fragment>
      <Fragment slot="desc">Masz pytanie? Wypełnij formularz.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Kontakt z KO-OP</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Chcesz nam coś przekazać? To jest właśnie to miejsce. Wypełnij formularz, napisz email, lub zadzwoń. Lubimy rozmawiać :)
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Tutaj będzie adres, Gliwice</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:hello@astroshipstarter.com"
              >komunikacja@ko-op.pl</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+48 ">+48 (503) 660 961 (Sebastian)</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
