---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Blog",
    description:
      "Zbuduj blog we własnej domenie na naszej platformie. Dostępne są: WordPress, Ghost, blogi statyczne (Astro, Eleventy, Next). Promój własne adresy i zasoby a nie korporacje GAFAM",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Podkast",
    description:
      "Publikuj podkast we własnej domenie który będzie dostępny na wszystkich popularnych platformach oraz w PodcastIndex.org. Dostępny Castopod z integracją z Fediwersum oraz strona statyczna i integracja WordPress.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Wideo",
    description:
      "Oprócz kanału na YouTube, Facebook czy Twitch, prowadź ich lustro na PeerTube. Tutaj odcinek nie zostanie wyłączony gdy spadnie z korpo-platform.",
    icon: "bx:bxs-data",
  },
  {
    title: "Social media",
    description:
      "Oprócz korpo-socjali wejdź do Fediwersum. Nasze narzędzie MixPost pozwoli prowadzić twoje wszystkie socjalki w sposób zaplanowany i efektywny.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Zasięgi",
    description:
      "Buduj większe zasięgi wspólnie z nami. Współpraca i synergia są lepsze od konkurencji. Nasz agregator dodatkowo wzmocni Twoją widoczność w sieci. Zadbamy o wyszukiwarki i etyczne SEO, bez szpiegowania ubliczności przez GAFAM.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Kampanie",
    description:
      "Dobre praktyki, zespoły redakcyjny i korektorski, wsparcie naszego IT oraz wspólne doświadczenie dostępne dla osób działających w KO-OP i współpracujących z KO-OP.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Dlatego zapraszamy Cię do niej!
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Gdzie we własnej domenie możesz publikować i generować z nami:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
